html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
p,
ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #267691;
}

.plugin-item {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	display: flex;
	flex-direction: row;
	padding-bottom: 45px;
}
.plugin-item .thumbnail {
	width: 200px;
	min-width: 200px;
}
.plugin-item .title {
	margin: 20px 0 1rem 0;
	font-size: 1.5rem;
	color: black;
}
.plugin-item .title:hover {
	color: #267691;
}
.plugin-item .description {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}
.plugin-item .read-more {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-top: 16px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}
.plugin-item .read-more:hover {
	border-bottom: 2px solid #267691;
}

.btn {
	align-items: center;
	background: 0 0;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	line-height: 24px;
	margin: 0;
	padding: 4px 16px;
	position: relative;
	text-align: center;
	text-transform: none !important;
}
.btn.primary {
	background: #267691;
	color: #fff !important;
	border: 2px solid #267691;
}
.btn.secondary {
	background: transparent;
	border: 2px solid #267691;
	color: #267691 !important;
}
